{% extends "template.html" %}
{% block conteudo %}


<h3>Lista de produtos já cadastrados</h3>
<table class="table table-borderless">
  <thead>
    <link rel="stylesheet" type="text/css" href="static/liststyle.css" media="screen" />
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome do Produto</th>
      <th scope="col">Preço</th>
      <th scope="col">Unidade de Venda</th>
    </tr>
  </thead>
  <tbody>

    {% for produto in produtos %}
    <tr>
        <td>{{produto.nome}}</td>
        <td>{{produto.preco}}</td>
        <td>{{produto.descricao}}</td>
        <td>{{produto.unid}}</td>
        <td><a href="{{url_for('produtoUpdate')}}">Alterar</a></td> 
        <td><a href="{{url_for('produtoDelete', id=produto.id)}}">Deletar</a></td> 

    </tr>
    {% endfor %} 

  </tbody>
</table>

{% endblock %}