{% extends "template.html" %}
{% block conteudo %}


<style>

  .wrapper {
      text-align: center;
  }
  
  .button {
      position: absolute;
      top: 50%;
  }
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
</style>

<br>
<br>
<div class="wrapper">
  <form action="{{url_for('usuarioForm')}}">
    <h3>Usuários</h3>
    <br>
    <button type="submit" class="btn btn-primary btn-salvar">Cadastrar Usuário</button>
  </form>
</div>
<br>

<table class="table table-borderless">
  <thead>
    <tr>
      <th scope="col">Nome</th>
      <th scope="col">E-mail</th>
      <th scope="col">CPF</th>
      <th scope="col">Endereço</th>
      <th scope="col">Telefone</th>
      <th scope="col">Tipo</th>
    </tr>
  </thead>
  <tbody>
         {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.nome}}</td>
            <td>{{usuario.email}}</td>
            <td>{{usuario.cpf}}</td>
            <td>{{usuario.endereco}}</td>
            <td>{{usuario.telefone}}</td>
            <td>{{usuario.tipo}}</td>
            <td><a href="{{url_for('usuarioUpdate', id=usuario.id)}}">Alterar</a></td> 
            <td><a href="{{url_for('usuarioDelete', id=usuario.id)}}">Deletar</a></td> 
        </tr>
        {% endfor %} 
  </tbody>
</table>

{% endblock %}