{% extends "template.html" %}
{% block conteudo %}
      <form  action="/usuarioUpdate/{{usuario.id}}"   method="POST"  >
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="id_usuario" hidden value={{usuario.id}}>
            <input type="text" id="nome" name="nome" placeholder="Nome Completo" value="{{usuario.nome}}" class="form-control">
          </div>
          
          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" id="email" name="email"placeholder="E-mail"value="{{usuario.email}}"  class="form-control">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input type="password" id="senha" name="senha" placeholder="senha"  class="form-control">
          </div>
          <div class="form-group">
            <label for="endereco">Endereço</label>
            <input type="text" id="endereco" name="endereco" value="{{usuario.endereco}}" class="form-control">
          </div>
          <div class="form-group">
            <label for="telefone">Telefone</label>
            <input type="text" id="telefone" name="telefone" value="{{usuario.telefone}}"  class="form-control">
          </div>
          <div class="form-group">
            <label for="cpf">CPF</label>
            <input type="text" id="cpf" name="cpf" value="{{usuario.cpf}}"   class="form-control">
          </div>
          <div class="form-group">
            <label for="tipo">Tipo</label>
            <input type="number" id="tipo" name="tipo" value="{{usuario.tipoUsuario}}"  class="form-control">
          </div>
          <button type="submit" class="btn btn-primary btn-salvar">Salvar</button>
          <button type="submit" class="btn btn-secondary btn-salvar">Cancelar</button>
        </fieldset>
      </form>
     

{% endblock %}